[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
NoDisplay=true
Name=FreeRDP
GenericName=Remote Desktop Client
Comment=Connect to remote desktop servers
Exec=xfreerdp %f
Icon=com.freerdp.FreeRDP
StartupNotify=true
MimeType=x-scheme-handler/rdp;application/x-rdp;application/x-freerdp;
Categories=Network;RemoteAccess;
Keywords=remote desktop;rdp;remote desktop client;rdp client;freerdp;remote access software;remote desktop protocol;
StartupWMClass="com.freerdp.FreeRDP"
X-Flatpak=com.freerdp.FreeRDP
